html
  head
    title= title

  body

    form(method='POST' action='/addmonkey')
      div.form-group
        label(for='Nom') Nom:
          input#Nom.form-control(type='text', placeholder='ex : Jean_Marie', name='Nom')
<<<<<<< HEAD
        label(for='Age') Age:
          input#Nom.form-control(type='text', placeholder='ex : 18', name='Age')
        label(for='Race') Race:
          input#Nom.form-control(type='text', placeholder='ex : Etudiant', name='Race')
        label(for='Cage') Cage:
          input#Nom.form-control(type='number', min="1", max = "5", placeholder='', name='Cage')
      button.btn.btn-primary(type='submit') Sign up
=======
      button.btn.btn-primary(type='submit') Sign up
>>>>>>> fe8a1b200f1200e39cdff383b2b7ced8b8713c49
